<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dine 'n Dash</title>

  <link rel="stylesheet" href="/css/style.css">
  <!-- Tailwind CSS -->
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>

<body id="profile" class="font-sans antialiased leading-normal tracking-wider bg-gray-900 light-mode">
  <div class="flex flex-col justify-between">
    <header class="flex justify-between items-center p-2 sticky-header">
      <h1>
        <span role="img" aria-label="chef" class="text-3xl font-semibold text-gray-800">👨‍🍳</span>
        <a href="/" class="text-3xl font-semibold text-green-700">Dine 'n <i>Dash!</i></a>
      </h1>
      <nav class="flex items-center">
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile" class="text-green-700 hyperlink"><b>Profile</b></a> &nbsp; &nbsp;
        <button class="bg-green-700 hover:bg-green-900 text-gray-100 font-bold py-2 px-4 rounded-full"
          id="logout">Logout
        </button> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        {{else}}
        <a href="/login" class="text-green-700"><b>Login</b> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </a>
        {{/if}}
        <!-- Pin to top right corner -->
        <div class="absolute top-0 right-0 h-12 w-18 p-4">
          <button class="js-change-theme focus:outline-none"></button>
        </div>
      </nav>
    </header>
    <div class="flex justify-center items-center">
      <main class="container container-fluid mt-5">
        <!-- Render the sub layout -->
        {{{ body }}}
      </main>
    </div>
    <footer>
      <!-- Add your footer content here -->
    </footer>
  </div>


  <script src="https://unpkg.com/popper.js@1/dist/umd/popper.min.js"></script>
  <script src="https://unpkg.com/tippy.js@4"></script>
  <script>
    //Init tooltips
    tippy('.link', {
      placement: 'bottom'
    })



    //Toggle mode
    const toggle = document.querySelector('.js-change-theme');
    const body = document.querySelector('body');
    const profile = document.getElementById('profile');
    const logoutBtn = document.getElementById('logout');
    var darkMode = localStorage.getItem("dark-mode");


    if (!darkMode || darkMode === "light") {
      enableLightMode();
    } else {
      enableDarkMode();
    }

    toggle.addEventListener('click', toggleDarkMode);


    function toggleDarkMode() {
      let darkMode = localStorage.getItem("dark-mode");
      console.log(darkMode)
      if (darkMode === "dark") {
        enableLightMode();
        console.log(enableLightMode)
      } else if (darkMode === "light") {
        enableDarkMode();
        console.log(enableDarkMode)
      }
    }

    function enableLightMode() {
      toggle.classList.remove("display-dark-btn");
      toggle.classList.add("display-light-btn");
      logoutBtn.classList.remove("dark-text");
      body.classList.remove('text-gray-100');
      body.classList.add('text-gray-900');
      profile.classList.remove('bg-gray-900');
      profile.classList.add('bg-white');
      localStorage.setItem("dark-mode", "light");

    }

    function enableDarkMode() {
      toggle.classList.remove("display-light-btn");
      toggle.classList.add("display-dark-btn");
      logoutBtn.classList.add("dark-text");
      body.classList.remove('text-gray-900');
      body.classList.add('text-gray-100');
      profile.classList.remove('bg-white');
      profile.classList.add('bg-gray-900');
      localStorage.setItem("dark-mode", "dark");
    }



  </script>
  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>


</html>